
<h1>My courses (<%= current_user.courses.size %>/3)</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to image_tag("details.png"), course %></td>
      </center></tr>
    <% end %>
  </tbody>
</table>