<h1>Semester</h1>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Semester start</th>
      <th>Semester end</th>
      <th>Show</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.start %></td>
        <td><%= semester.end %></td>
        <td><%= link_to image_tag("details.png"), semester %></td>
        <td><%= link_to image_tag("edit.png"), edit_semester_path(semester) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>